a{
    color: blue;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    font: 200;
    
}

h1{

    color: red;
    font-size: larger;
    

}


h2{
    color: red;

}

p2{
    color: blue;
}




