.SearchKutu
{
    width: auto;
    height: auto;

    margin-left: 25px;
    margin-right: 25px;

    background-color: #c8c8c8;

}

.AnaKutu
{
  margin-top: 5px;
margin-right: 25px;
margin-left: 25px;
height: 100px;
width: auto;

background-color: white;
}
.LeftPath
{
  width: 500px;
  height: 100px;
  background-color: #31f5ff;
}

.OrtaKutu
{
  background-color: blue;
}

.RightPath
{
  background-color: black;
}
