.kutu
{
  height: auto;
  width: 550px;
    padding: 15px;
    border: 0px solid gray;
    margin: 15px;
    background-color: gray;
}



.kutu2
{
  width: 220px;
    height:200px;
    border: 5px solid #000;
    background-color:#ff6600;

}
